fastapi
uvicorn
langchain
langchain-google-genai
pydantic
sqlalchemy
chromadb
python-multipart
passlib[bcrypt]
python-jose[cryptography]
bcrypt 

PyPDF2
unstructured
pillow
pytesseract
pdf2image
sentence_transformers
PyMuPDF


faiss-cpu
tiktoken
python-dotenv
requests
